.category-hero{
    position:relative;

    min-height:100vh;
    height:100vh;

    display:flex;
    align-items:center;

    padding:0 8%;

    overflow:hidden;
    isolation:isolate;

    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}

.category-hero::before{
    content:"";
    position:absolute;
    inset:0;

    background:
        radial-gradient(circle at 78% 18%, rgba(var(--glow),.20), transparent 34%),
        radial-gradient(circle at 15% 88%, rgba(255,255,255,.05), transparent 42%);

    mix-blend-mode:screen;
    opacity:.9;
    z-index:0;
}
